.form-group {
	padding: 1em;
}

h2 {
	text-align: center;
}

label {
	display: block;
	width: 100%;
	margin-bottom: 0.5em;;
}

input {
	width: 100%;
	height: 30px;
}

input[type="checkbox"]{
	width:30px;
	height: 30px;
}