<h2>{{title}}</h2>

<ng-container *ngFor="let field of fields">
	<div *ngIf="!field.dependsOn || model[field.dependsOn]" class="form-group">
		<label [for]="field.key">
			{{field.label}}
		</label>
		
		<!--
			Apparently setting the Input's type property dynamically
			fails if the type is 'checkbox' but only if the input is
			inside an *ngFor (!). This is why I have used an ngSwitch 
			instead, which does introduce some code duplication unfortunately.
			i.e. <input [type]="field.type"/> was not possible
		-->
		<ng-container [ngSwitch]="field.type">
			<input
				*ngSwitchCase="'checkbox'"
				[id]="field.key"
				type="checkbox"
				[(ngModel)]="model[field.key]"/>
			<input
				*ngSwitchCase="'number'"
				[id]="field.key"
				type="number"
				[(ngModel)]="model[field.key]"/>
			<input
				*ngSwitchDefault
				[id]="field.key"
				type="text"
				[(ngModel)]="model[field.key]"/>
		</ng-container>
	</div>
</ng-container>

