<div class="content">
	<ng-container *ngIf="inProgress; else summary">
		<div class="button-group">
			<button (click)="previous()" [disabled]="isFirstStep()">Previous</button>
			<button (click)="next()">
				{{isLastStep() ? 'Finish' : 'Next'}}
			</button>
		</div>

		<ng-container *ngFor="let step of steps; let index = index">
			<ng-container *ngIf="currentStep == index">
				<app-form-step *ngIf="model"
					[title]="step.title"
					[model]="model"
					[fields]="step.fields">
				</app-form-step>
			</ng-container>
		</ng-container>
	</ng-container>
	
	
	<ng-template #summary>
		<app-summary [model]="model" (restart)="restartForm()"></app-summary>
	</ng-template>
</div>
